.back_ {
    padding-top: 20px;
}
.back_ img {
    width: 50px;
}
.back_ img:hover {
    cursor: pointer;
}

.info_ h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #676060;
    box-shadow: 0px 2px 0 0 #676060;
}

.project_mainly_topic_title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.project_mainly_topic_title h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    color: #676060;
}

.project_sub_topic_title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.project_sub_topic_title h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    width: 250px;
    color: #676060;
}

.project_slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-block-end: 40px;
}

.button_conclude {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-block-end: 50px;
}
.button_conclude input {    
    width: 180px;
    height: 80px;
    padding: 20px 0px 20px 0px;
    border-radius: 10px;
    box-shadow: 7px 7px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #0000fb;
    color: #f5f5f5;
    font-size: 30px;
}
.button_conclude input:hover {
    cursor: pointer;
}
.button_conclude input:active{
    background-color: #3098F2;
}
.button_conclude input:focus{
    outline: 0px;
}