.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.back img:hover {
    cursor: pointer;
}

.logo_ img {
    width: 200px;
}

.next img {
    width: 40px;
}
.next img:hover {
    cursor: pointer;
}

.project_name_ {
    display: flex;
    justify-content: center;
    align-items: center;
}
.project_name_ h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #676060;
    font-size: 35px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #676060;
    font-size: 30px;
}

.project_students_ {
    display: flex;
    justify-content: center;
    align-items: center;
}
.project_students_ h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #676060;
    font-size: 15px;
}

.project_course_ {
    display: flex;
    justify-content: center;
    align-items: center;
}
.project_course_ h1 {   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #676060;
    font-size: 15px;
}

.project_observations {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-block-end: 50px;
}

.project_observations h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #676060;
    font-size: 15px;
    line-height: 1.67;
}
