.init_ {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.projects {
    position: relative;
    display: flex;
    justify-content: center;
}

.rectangule {
    margin-block-end: 50px;
    width: 300px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #707070;
    background-color: #f9f8f8;
}

.project_name {
    position: absolute;
    width: 176px;
    height: 100px;
    border-radius: 15px;
    box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #707070;
    background-image: linear-gradient(to right, #0303f8 0%, #36bfd5 98%);
    /*background-image: linear-gradient(to right, #00fc08 0%, #aeffb0 98%);*/
}
.project_name h1 {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    padding: 18px 10px 10px 10px;   
}
.project_name:hover {
    cursor: pointer;
}

.project_class {
    position: absolute;
    margin-left: 200px;
}
.project_class h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #676060;
}

.project_course {
    position: absolute;
    margin-left: 200px;
    margin-top: 50px;
}
.project_course h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #676060;
}

.students {
    margin-top: 120px;
    margin-left: 20px;
}

.project_students {
    margin-top: 10px;
}
.project_students h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #676060;
}

.popup2 {
    width: 350px;
    height: 500px;
    border-radius: 15px;
    border: solid 1px;
    background-color: #f9f8f8;
    position: absolute;
    top: 10%;
    /*display: none;*/
}

.close {
    padding-left: 280px;
    padding-top: 10px;
}
.close h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0004ff;
    font-size: 40px;
    font-weight: bold;
    width: 30px;
    height: 50px;
    margin: 0px;
}
.close h1:hover {
    cursor: pointer;
}
.close h1:active {
    color: #3098F2;
}

.msg1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.msg1 h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #676060;
    margin: 0px;
}

.msg2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.msg2 h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #676060;
    width: 204px;
}

.msg3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.msg3 h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #676060;
    width: 220px;
}

.button_ok {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.button_ok input {    
    width: 100px;
    height: 60px;
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    box-shadow: 7px 7px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #0000fb;
    color: #f5f5f5;
    font-size: 33px;
    font-weight: bold;
}
.button_ok input:hover {
    cursor: pointer;
}
.button_ok input:active{
    background-color: #3098F2;
}
.button_ok input:focus{
    outline: 0px;
}

