.init {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-block-end: 50px;
}
.logo img {
    width: 350px;
}

.text_input {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-block-end: 100px;
}
.text_input input{  
    width: 280px;
    height: 41px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px #707070;
    background-color: #ffffff;
}
.text_input input:focus {
    outline: 0px;
}

.button_enter {
    display: flex;
    justify-content: center;
    text-align: center;
}
.button_enter input {    
    width: 180px;
    height: 80px;
    padding: 20px 0px 20px 0px;
    border-radius: 10px;
    box-shadow: 7px 7px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #0000fb;
    color: #f5f5f5;
    font-size: 30px;
}
.button_enter input:hover {
    cursor: pointer;
}
.button_enter input:active{
    background-color: #3098F2;
}
.button_enter input:focus{
    outline: 0px;
}

.popup1 {
    width: 320px;
    height: 620px;
    border-radius: 15px;
    border: solid 1px;
    background-color: #f9f8f8;
    position: absolute;
    top: 5%;
    /*display: none;*/
}

.popup3 {
    width: 320px;
    height: 250px;
    border-radius: 15px;
    border: solid 1px;
    background-color: #f9f8f8;
    position: absolute;
    top: 30%;
    /*display: none;*/
}

.msg4 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.msg4 h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #ff0000;
    width: 220px;
}