
.Lister {
  padding-right: 8em;
  padding-top: 3em;
}

.add {
  height: 48px;
  width: 48px;
  border: solid 1px #707070;
  border-radius: 50%;
  padding: 0px;
  background-color: #cdcdcd;
  text-align: center;
}

.add img { /* center the image */
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.searcher {
  max-width: 630px;
}
#search {
  display: inline;
}