body {
    margin: 0px;
}

.screen {
    width: 100%;
    height: 100%;
    position: fixed;
}

.background {
    background-image: url("../assets/textura_papel.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: inherit;
    overflow: scroll;
}

.background_ {
    height: inherit;
    overflow: scroll;
}