h1 {
  /* Size Configs */
  margin: 0px;

  /* Font Settings */
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.6;

  /* Corlors Settings*/
  color: #0000fb;

} 

h2 {
  /* Size Configs */
  width: fit-content;
  height: auto;
  margin: 0px;

  /* Font Settings */
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial;
  font-size: 45px;
  line-height: 1.78;
  font-weight: normal;

  /* Corlors Settings*/
  color: #0000fb;
}
body {
  background-image: url('./css/assets/textura_papel.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
